#canvas-area {
  position: relative;
  background-color: black;
}

#canvas-bg {
  position: absolute;
  /* center alignment */
  left: 50%;
  transform: translate(-50%, 0);
}

#canvas-fg {
  position: absolute;
  /* center alignment */
  left: 50%;
  transform: translate(-50%, 0);
}

#light-show {
  position: relative;
  text-align: center;
}

.inline-block {
  display: inline-block;
}
